<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trello</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <main id="app" class="main">
        <h1 class="title">Trello</h1>
        <div class="board">

            <trello-list v-for="list in lists" :list="list" @create-card="createCard">
                <trello-card v-for="card in getCards(list)" :id="card.id" :key="card.id" :initial-text="card.text" :initial-list="card.list" @update-text="updateText" @update-list="updateList" @delete-card="deleteCard"> </trello-card>

            </trello-list>

        </div>
    </main>
    <script src="app.js"></script>
</body>

</html>