html, body {
  display: grid;
  
  height: 100%;

  background-color: rgb(74, 126, 216);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title {
  color: #fff;
}

.board {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(auto-fit, minmax(280px, 400px));
  grid-gap: 1rem;
}

.list {
  display: grid;
  grid-gap: 0.5rem;
  padding: 0.5rem;
  background-color: #eaeaea;
  border-radius: 5px;
}

.list-header {
  display: flex;
  justify-content: space-between;
}

.list-title {
  margin: 0.5rem;
  font-size: 1.0rem;
}

.list-button {
  padding: 0.5rem;
  background-color: transparent;
  border: 0;
  cursor: pointer; 
  font-size: 1rem;
}

.card {
  display: grid;
  grid-template-rows: 37px 1fr;
  padding: 0;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.card-action {
  display: flex;
  justify-self:  end;
}
.card-action-select {
  display: block;
  padding: 0.25rem 1.75rem 0.25rem 0.75rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.1;
  color: #212529;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.card-action-button {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  color: #212529;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-radius: 0;
}

.card-text {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  border: 0;
  margin: 0 0.5rem 0.5rem 0.5rem;
}